*{
  padding: 0;
  margin: 0;
  
  font-family: 'Encode Sans Semi Condensed', sans-serif;
  font-weight: bold;
}

header{
  height: 4cm;
  background-color: teal;}


header img{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: none;
  margin-left: 30px;
  margin-top: 10px;
  float: left;
}

header h1{
  color: white;
  padding-top:20px;
  padding-left: 150px;
}

.programs1{
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 20px;
  
}

.banner1 h2{
  padding: 20px;
}

.banner1{border: 2px solid darkgray;
padding: 10px;}

.banner1 p a{color: black;
}

.programs1 img{
 height: 300px;
 width:300px;
 border: 2px solid darkgray;
 cursor: pointer;

}

